.center{
    text-align: center;
    padding-top: 60px;
    height: 25vh;
    border-bottom-left-radius:100px ;
    border-bottom-right-radius:100px ;
    
    
}
.h2{
    font-weight: 900;
    padding-bottom: 50px;
}


.a{
    margin-top: 40px;
    text-decoration: none;
    color: white;
    background:#6A0DAD;
    padding: 16px 30px;
    border-radius: 3px;
    font-weight: bold;
    border-radius: 10px;
    
    
}