.div{
    width: 100%;
    height: 100px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.a{
    text-decoration: none;
    color: white;
}

