.nav{
    background-color: #f5f5f5e4;
    color: #6A0DAD;
    padding: 1rem;
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 2;
  }


.logo{
  
  flex: 60%;
  
}
.h1{
  margin-left: 15%;
  font-size: 2.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;

}
.botoes{
    display: flex;
    gap: 1rem;
    flex: 40%;
    align-items: center;
    
}

.a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 50%;
    padding: 12px 30px;
    background: #6A0DAD;
    border-radius: 100px;
    
}


#lay{
   padding-top: 100px;
}