/* Tela dividida */
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  background: linear-gradient(135deg, #3b1e63, #2a1547, #44206f);
}

/* ---------------------------- */
/* Metade esquerda (login) */
/* ---------------------------- */
.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px ;
}

.card {
  background: #ffffff10;
  backdrop-filter: blur(14px);
  padding: 45px;
  width: 70%;
  max-width: 380px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

/* Logo finanUP */
.logo {
  font-size: 2.8rem;
  font-weight: 800;
  color: #FFD700;
  margin-bottom: 10px;
  text-align: center;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 25px;
  font-size: 1.6rem;
}

.input {
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #ffffff25;
  color: white;
}

.input::placeholder {
  color: #e0e0e0;
}

.input:focus {
  background: #ffffff35;
  box-shadow: 0 0 10px #ffffff40;
}

.button {
  background: #FFD700;
  color: #3b1e63;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
}

.button:hover {
  background: #e6c100;
  transform: scale(1.03);
}

/* ---------------------------- */
/* Metade direita (imagem) */
/* ---------------------------- */
.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.image {
  width: 70%;
  max-width: 450px;
  object-fit: contain;
}

/* Responsividade */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
    height: 50%;
  }

  .image {
    width: 70%;
  }
}
